/* === Global Page Style === */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #1c1c1c;
  color: #ffffff;
  text-align: center;
}

body, html {
  width: 100%;
  overflow-x: hidden;
}

/* Profile Section */
.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ffffff;
  margin-top: 40px;
  margin-left: -40px;
}

#profile {
  background: rgba(255,255,255,0.05);
  padding: 40px 0;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
}

#profile-contact {
  margin-top: 15px;
  display: inline-block;
  text-align: left;
}

#profile-contact .contact-line {
  font-size: 16px;
  margin: 6px 0;
}

#profile-contact .contact-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.contact-link:hover {
  color: #ffffff !important;
  text-decoration: none !important;
}

/* === Header === */
header {
  background: #000000;
  color: #ffffff;
  padding: 60px 20px;
}

/* Quick Links */
.quick-links {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  width: 50%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  box-shadow: 0 0 10px;
  opacity: 0.9;
}

.quick-links a {
  color: #000;
  width: 50%;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  padding: 5px 10px;
  transition: 0.3s;
}

section {
  scroll-margin-top: 100px;
}

/* About */
#about {
  width: 70%;
  margin: 40px auto;
  text-align: center;
}

/* Section Divider */
.section-bar {
  width: 500px;
  height: 2px;
  margin: 40px auto;
  background: linear


